footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $grey;
  justify-content: end;
  padding: 1rem 0;
  p {
    color: $greyLight;
    padding-right: 1rem;
    span{
        font-family: $fontBold;
    }
  }
}
