//fonts
@font-face {
  font-family: "Roboto";
  src: url("../../Views/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../../Views/fonts/Roboto-Bold.ttf");
}

$font: "Roboto";
$fontBold: "RobotoBold";

//colors
$white: #f3f3f3;
$blackDark: #252525;
$black: #25272b;
$grey: #32353a;
$greyLight: #8b8b8b;
$greyLightOver: #8b8b8bb4;
$orange: #e25000;
$orangeLight: #e24f00b5;
$aproved: #007423;
$warning: #d30101;
$called: #f2ff00;

//font Sizes

$f16: 1rem;
$f18: 1.125rem;
$f21: 1.3125rem;
$f26: 1.625rem;
$f31: 1.9375rem;

//Shadow
$shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
